.body {
  margin-top: 120px;
  margin-bottom: 80px;

  p {
    --lh: 36px;
    line-height: var(--lh);
    margin-bottom: var(--lh);
    font-size: 1.125rem; // 18px
  }

  h2 {
    font: var(--title-lg);
    color: var(--gray-80);
    margin: 48px 0;
  }

  blockquote {
    margin: 48px 0;
    margin-left: 4em;
    font-style: italic;

    &,
    & > p {
      font-size: 1.25rem; // 20px
      line-height: 2.5rem; //40px
    }
  }
}
