@keyframes fade-right {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  35% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  35% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// ===================================================== //

.slider {
  transform-style: preserve-3d;
  height: 880px;
  background-color: var(--blue);

  section {
    position: relative;
    height: 100%;

    & > div {
      background: linear-gradient(90deg, #193e72 -11.28%, #193e72 -11.27%, rgba(25, 62, 114, 0) 69.86%),
        linear-gradient(180deg, rgba(25, 62, 114, 0.25) 0%, rgba(25, 62, 114, 0) 28.65%);
    }

    .bannerContent {
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: var(--white);
    }

    .buttons {
      display: flex;
      gap: 20px;

      & > :last-child {
        border-color: white;
        color: white;
      }
    }

    &:not(:global(.active)) {
      display: none;
    }

    &:global(.swipe-left) {
      & > div {
        animation: fade-left 1.2s both;
      }
    }
    &:global(.swipe-right) {
      & > div {
        animation: fade-right 1.2s both;
      }
    }
  }
}
