@use '../../../styles/scss/mixins';

@keyframes fade-right {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  35% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  35% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// ===================================================== //

.slider {
  height: 880px;
  background-image: linear-gradient(90deg, #193e72 -11.28%, #193e72 -11.27%, rgba(25, 62, 114, 0) 69.86%), linear-gradient(180deg, rgba(25, 62, 114, 0.25) 0%, rgba(25, 62, 114, 0) 28.65%);

  @include mixins.sm {
    height: 720px;
  }

  section {
    position: relative;
    height: 100%;

    .bannerContent {
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: var(--white);

      p {
        @include mixins.sm {
          white-space: break-spaces;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
    }

    &:not(:global(.active)) {
      display: none;
    }

    &:global(.swipe-left) {
      & > div {
        animation: fade-left 1.2s forwards;
      }
    }
    &:global(.swipe-right) {
      & > div {
        animation: fade-right 1.2s forwards;
      }
    }
  }

  @include mixins.sm {
    background-color: var(--dark-blue);
    img {
      display: none;
    }
  }
}
