@use "../../../styles/scss/mixins";

.section {
  :global(.col-12) > header {
    margin-bottom: 64px;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 32px;

  header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 32px 40px;
    margin-bottom: 8px;
    background-color: var(--gray-10_25);
    transition: all 350ms;

    @include mixins.md {
      padding: 16px;
      gap: 8px;
    }

    &:hover {
      background-color: var(--gray-10_50);
      color: var(--pink);
      path {
        fill: var(--pink);
      }
    }
  }

  article {
    h3 {
      font: var(--title-sm);
    }

    p {
      margin-top: 24px;
      white-space: break-spaces;
    }

    button {
      background-color: transparent !important;
      padding: 12px !important;

      & > span {
        transition: all 350ms;
      }

      path {
        transition: all 350ms;
      }

      &:hover {
        path {
          fill: var(--pink);
        }
      }

      &:hover,
      &:focus {
        background-color: transparent !important;
      }
    }

    .answer {
      padding: 32px 40px;
      background-color: var(--off-white);

      @include mixins.md {
        padding: 16px 32px;
      }
    }
  }

  @include mixins.lg {
    gap: 16px;
    align-items: stretch !important;

    article {
      text-align: left;
    }
  }
}

.active {
  header {
    background-color: var(--gray-10);
    color: var(--pink);

    path {
      fill: var(--pink);
    }
  }

  button > span {
    transform: rotate(180deg);
  }
}
