@use "../../../styles/scss/mixins";

.section {
  & > header {
    margin-bottom: 72px;
  }

  @include mixins.sm {
    :global(.col-12) {
      padding: 0 12px;
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 32px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  article {
    background-color: var(--gray-10);
    padding: 32px 40px;

    h3 {
      font: var(--title-sm);
    }

    p {
      margin-top: 24px;
      white-space: break-spaces;
    }
  }

  @include mixins.lg {
    align-items: stretch !important;

    article {
      text-align: left;
      padding: 24px 32px;
    }
  }
}
