@use '../../../styles/scss/mixins';

.section {
  img {
    width: 100%;
  }
}

.title {
  text-align: center;
  margin-bottom: 80px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .smallImage {
    height: 296px;
  }
  .largeImage {
    height: 540px;
  }

  @include mixins.md {
    .smallImage {
      height: 420px;
    }
  }

  @include mixins.sm {
    .smallImage {
      height: 240px;
    }
    .largeImage {
      height: 360px;
    }
  }
}
