@use "../../../styles/scss/mixins";

.timeline {
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 128vh 0;

  svg {
    position: relative;
  }

  .first {
    position: relative;
    right: 146px;
    top: 1px;

    & > svg:first-child {
      position: absolute;
      z-index: 1;
      top: -28px;
      right: -28px;
      rect {
        &:first-child {
          /* opacity: 0; */
          fill: var(--gray-20);
        }
        &:last-child {
          fill: var(--blue);
        }
      }
    }

    article {
      position: absolute;
      bottom: 240px;
      left: -25px;
    }
  }

  .middle {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > :nth-child(odd) {
      left: 80px;
      article {
        right: -27px;
      }
    }

    & > :nth-child(even) {
      left: -80px;
      article {
        left: -27px;
      }
    }

    & > div {
      position: relative;
      display: flex;
      align-items: center;
      transform: scaleX(1.02) scaleY(1.005);

      article {
        position: absolute;
      }
    }
  }

  .last {
    position: relative;
    right: -89px;
    top: -1px;
    display: flex;
    justify-content: flex-end;

    article {
      position: absolute;
      bottom: 180px;
      left: -150%;
    }

    & > svg:last-child {
      position: absolute;
      bottom: -8px;
      left: -27px;
      rect:first-child {
        fill: var(--blue);
      }
    }
  }
}

.card {
  position: relative;
  display: flex;
  align-items: center;

  --point-margin: 16px;
  --time-margin: 56px;

  svg,
  time,
  .info {
    transition: all 350ms;
  }

  time {
    font: var(--title-md);
    line-height: 24px;
    font-weight: 500;
    padding: 10px 16px;
    background-color: var(--soft-pink);
    color: var(--pink);
    border-radius: 2px;
  }

  .info {
    padding: 48px;
    background-color: var(--soft-pink);
    border-radius: 4px;
    max-width: 390px;

    h3 {
      color: var(--dark-blue);
      margin-bottom: 16px;
    }

    p {
      font: var(--body-sm);
    }
  }

  &.right {
    svg {
      margin-right: var(--point-margin);
      order: 0;
    }
    time {
      margin-right: var(--time-margin);
      order: 1;
    }
    .info {
      order: 2;
    }
  }

  &.left {
    svg {
      margin-left: var(--point-margin);
      order: 2;
    }
    time {
      margin-left: var(--time-margin);
      order: 1;
    }
    .info {
      order: 0;
    }
  }

  @mixin active-card {
    svg > rect:first-child {
      fill: var(--blue);
    }
    time {
      background-color: var(--blue);
      color: var(--white);
    }
    .info {
      background-color: var(--blue);
      h3 {
        color: var(--white);
      }
      p {
        color: var(--gray-20);
      }
    }
  }

  &.active {
    @include active-card;
  }

  @mixin last-card {
    flex-direction: column;
    align-items: center;
    gap: 16px;

    svg {
      display: none;
    }

    &.right,
    &.left {
      time,
      .info {
        margin: 0;
        order: unset;
      }
    }
  }

  &.last {
    @include last-card;
    @include active-card;
  }

  @include mixins.lg {
    @include last-card;
  }
}
