@use "../../../styles/scss/mixins";

.section {
}

.headingSection {
  position: relative;
  margin-bottom: 160px;

  @include mixins.lg {
    margin-bottom: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -147px;
    bottom: 45%;
    left: 0;
    right: 0;
    z-index: -2;
    background-color: var(--blue);

    @include mixins.lg {
      top: -104px;
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 107px;

    @include mixins.lg {
      height: 360px;
      margin-top: 72px;
    }

    img {
      object-fit: cover;
    }
  }
}

.timeline {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  svg {
    position: relative;
  }

  .first {
    position: relative;
    right: 146px;
    top: 1px;

    & > svg:first-child {
      position: absolute;
      z-index: 1;
      top: -28px;
      right: -28px;
      rect {
        &:first-child {
          /* opacity: 0; */
          fill: var(--gray-20);
        }
        &:last-child {
          fill: var(--blue);
        }
      }
    }

    article {
      position: absolute;
      bottom: 240px;
      left: -25px;
    }

    @include mixins.lg {
      right: auto;
      top: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 56px;

      & > svg:first-child {
        top: 0;
      }

      article {
        left: auto;
        bottom: auto;
      }
    }
    /* @include mixins.sm {
      & > svg:last-child {
        height: 450px;
      }
    } */
  }

  .middle {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > :nth-child(odd) {
      left: 80px;
      article {
        right: -27px;
      }
    }

    & > :nth-child(even) {
      left: -80px;
      article {
        left: -27px;
      }
    }

    & > div {
      position: relative;
      display: flex;
      align-items: center;
      transform: scaleX(1.02) scaleY(1.005);

      article {
        position: absolute;
      }
    }

    @include mixins.lg {
      & > :nth-child(odd) {
        left: auto;
        article {
          right: auto;
        }
      }

      & > :nth-child(even) {
        left: auto;
        article {
          left: auto;
        }
      }

      & > div {
        transform: none;
        justify-content: center;
      }
    }
  }

  .last {
    position: relative;
    right: -89px;
    top: -1px;
    display: flex;
    justify-content: flex-end;

    article {
      position: absolute;
      bottom: 180px;
      left: -150%;
    }

    & > svg:last-child {
      position: absolute;
      bottom: -8px;
      left: -27px;
      rect:first-child {
        fill: var(--blue);
      }
    }

    @include mixins.lg {
      right: auto;
      justify-content: center;
      align-items: center;

      article {
        top: auto;
        left: auto;
        bottom: auto;
      }

      & > svg:last-child {
        bottom: -50px;
      }
    }

    &.flipped {
      right: -92px;

      & > svg {
        &:first-child {
          transform-origin: left;
          transform: rotateY(180deg);
        }
        &:last-child {
          left: -28px;
        }
      }

      @include mixins.lg {
        right: auto;
        & > svg {
          &:first-child {
            transform: none;
          }
        }
      }
    }
  }
}

.card {
  position: relative;
  display: flex;
  align-items: center;

  --point-margin: 16px;
  --time-margin: 56px;

  svg,
  time,
  .info {
    transition: all 350ms;
  }

  time {
    font: var(--title-md);
    line-height: 24px;
    font-weight: 500;
    padding: 10px 16px;
    background-color: var(--soft-pink);
    color: var(--pink);
    border-radius: 2px;
  }

  .info {
    padding: 48px;
    background-color: var(--soft-pink);
    border-radius: 4px;
    width: 390px;

    @include mixins.sm {
      width: 310px;
    }

    h3 {
      color: var(--dark-blue);
      margin-bottom: 16px;
    }

    p {
      font: var(--body-sm);
    }
  }

  &.right {
    svg {
      margin-right: var(--point-margin);
      order: 0;
    }
    time {
      margin-right: var(--time-margin);
      order: 1;
    }
    .info {
      order: 2;
    }
  }

  &.left {
    svg {
      margin-left: var(--point-margin);
      order: 2;
    }
    time {
      margin-left: var(--time-margin);
      order: 1;
    }
    .info {
      order: 0;
    }
  }

  @mixin active-card {
    svg > rect:first-child {
      fill: var(--blue);
    }
    time {
      background-color: var(--blue);
      color: var(--white);
    }
    .info {
      background-color: var(--blue);
      h3 {
        color: var(--white);
      }
      p {
        color: var(--gray-20);
      }
    }
  }

  &.active {
    @include active-card;
  }

  @mixin last-card {
    flex-direction: column;
    align-items: center;
    gap: 16px;

    svg {
      display: none;
    }

    &.right,
    &.left {
      time,
      .info {
        margin: 0;
        order: unset;
      }
    }
  }

  &.last {
    @include last-card;
    @include active-card;
  }

  @include mixins.lg {
    @include last-card;
  }
}
