@use "../../../styles/scss/mixins";

.section {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--gray-20);
    top: 0;
    left: 50%;
  }

  @include mixins.lg {
    :global(.row) {
      gap: 96px;
    }

    &::after {
      content: none;
    }
  }
}

.formSection,
.infoSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.formSection {
  header {
    margin-bottom: 32px;
  }
}

.infoSection {
  header {
    margin-bottom: 24px;
  }

  address {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0;
    align-items: flex-start;
  }
}

.infoCard {
  display: flex;
  gap: 28px;
  align-items: center;

  p {
    &:first-child {
      font: var(--body-sm);
    }

    &:last-child {
      font: var(--title-sm);
      font-size: 1.5rem;
      font-family: var(--body);
      color: var(--dark-blue);
    }
  }
}
