.section {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -96px;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: var(--blue);
  }

  header {
    position: relative;
    z-index: 1;
    margin-bottom: 96px;
  }
}
