@use "../../../styles/scss/mixins";

.section {
  @include mixins.lg {
    :global(.row) {
      gap: 56px;
    }
  }
}

.collage {
  & > div {
    position: relative;

    &:first-child {
      max-width: 85%;
      height: 480px;
    }
    &:last-child {
      max-width: 60%;
      height: 320px;
      margin-top: -200px;
      margin-left: auto;
    }

    img {
      object-fit: cover;
    }

    @include mixins.sm {
      &:first-child {
        height: 360px;
      }

      &:last-child {
        height: 240px;
      }
    }
  }
}

.textContent {
  & > p {
    margin: 32px 0;
  }
}
