@use "../../../../styles/scss/mixins";

.navbar {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  nav {
    transition: background-color 350ms;
  }

  :global(.container) {
    border-bottom: 1px solid rgba(182, 188, 201, 0.4);
  }

  @media (min-width: 992px) {
    .links {
      display: flex;
    }
  }

  @include mixins.lg {
    button {
      order: 1;
    }

    .links {
      order: 2;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      gap: 8px;

      & > :first-child {
        padding-top: 24px;
      }
    }

    .navbarInner > a:last-child {
      display: none;
    }

    .navbarInner > a:first-child {
      margin-right: auto;
    }
  }

  nav:not(.active) {
    .dropDown {
      li {
        a {
          color: var(--pink);
        }

        &:hover {
          a {
            color: var(--white);
          }
        }
      }
    }
  }
}

.navbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0;
  transition: padding 350ms;

  @include mixins.lg {
    justify-content: center;
  }

  & > a {
    svg {
      display: block;
      max-width: 260px;
      height: auto;

      @include mixins.xl {
        max-width: 160px;
      }
    }
  }

  button {
    display: none;

    span {
      transform: rotate(90deg);
    }

    @include mixins.lg {
      display: inline-flex;
    }
  }
}

.links {
  display: flex;
  gap: 24px;

  & > li {
    position: relative;

    &[data-dropdown="true"] {
      &:hover {
        .dropDown {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }

    &:last-child {
      display: none;

      @include mixins.lg {
        display: inline-block;
      }
    }
  }
}

.active {
  background-color: var(--white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  :global(#logotype) {
    & > path {
      fill: var(--blue);
    }
  }

  :global(.container) {
    border-bottom: none;
  }

  a {
    --link-fill-color: var(--blue);

    &:hover {
      --link-fill-color: var(--pink);
    }
  }

  .navbarInner {
    padding: 16px 0px;
  }
}

.dropDown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  transition: all 350ms;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;

  li {
    transition: all 350ms;
    background-color: var(--white);

    &:hover {
      background-color: var(--pink);

      a {
        color: var(--white);
      }
    }

    a {
      padding: 1rem;
      &::after {
        content: none !important;
      }
    }
  }
}
