@use "../../../styles/scss/mixins";

.section {
  @include mixins.lg {
    :global(.row) {
      gap: 48px;

      & > :first-child {
        order: 1;
      }
    }
  }
}

.textContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    margin-bottom: 32px;
  }
}

.collage {
  position: relative;
  display: flex;
  align-items: center;

  img {
    object-fit: cover;

    &:first-child {
      max-width: 84.5%;
      height: 560px;
    }

    &:last-child {
      max-width: 48.5%;
      height: 320px;
      position: absolute;
      right: 0;
    }
  }

  @include mixins.sm {
    img {
      &:first-child {
        height: 320px;
      }
      &:last-child {
        height: 180px;
      }
    }
  }
}
