@use "../../../styles/scss/mixins";

.section {
  position: relative;
  padding-top: 147px;
  --spacing: 72px;

  @include mixins.xl {
    --spacing: 56px;
  }

  @include mixins.lg {
    padding-top: 96px;
    --spacing: 48px;

    :global(.row) {
      gap: var(--spacing);
    }

    .info {
      text-align: left;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: -2;
    background-color: var(--blue);
  }

  header {
    margin-bottom: 107px;

    @include mixins.lg {
      margin-bottom: 72px;
    }
  }

  .mainSection {
    margin-bottom: 160px;
  }

  .specList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    height: 100%;
    justify-content: center;

    .spec {
      .info {
        h3 {
          font: var(--body-lg);
          margin-bottom: 16px;
          color: var(--white);
        }

        p {
          font: var(--body-sm);
          color: var(--gray-20);
        }
      }
    }

    &.first {
      margin-right: 40px;
    }
    &.second {
      margin-left: 40px;
    }

    @include mixins.xl {
      &.first {
        margin-right: 20px;
      }
      &.second {
        margin-left: 20px;
      }
    }

    @include mixins.lg {
      &.first,
      &.second {
        margin: 0;
      }
    }
  }

  .centerImage {
    display: flex;
    height: 100%;
    align-items: center;

    img {
      width: 100%;
      object-fit: cover;

      @include mixins.xl {
        height: 480px;
      }
    }
  }
}
