@use "scss/buttons";
@use "scss/colors";
@use "scss/bootstrap";
@use "scss/typography";
@use "scss/mixins";
@use "scss/forms";

:root {
  /* Shadows */
  --shadow-sm: 0px 2px 4px rgba(11, 31, 77, 0.08);
  --shadow-md: 0px 4px 8px rgba(11, 31, 77, 0.1);
  --shadow-lg: 0px 8px 16px rgba(11, 31, 77, 0.12);
  --shadow-xl: 0px 12px 24px rgba(11, 31, 77, 0.14);
  --shadow-xxl: 0px 16px 32px rgba(11, 31, 77, 0.16);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

body {
  font: var(--body-md);
  color: var(--gray-70);
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  object-fit: cover;
  border-radius: 4px;
}

img, svg {
  vertical-align: middle;
}

ul, ol, menu {
  padding: 0;
  margin: 0;
  list-style: none;
}