@use "../../../styles/scss/keyframes";
@use "../../../styles/scss/mixins";

.dialogContent {
  position: relative;
  background-color: #fff;
  padding: 72px 104px;

  @include mixins.md {
    padding: 40px 32px;
  }

  h3 {
    font: var(--body-md);
    font-weight: 700;
    color: var(--gray-90);
    text-align: center;
    margin-bottom: 40px;
  }

  dl {
    font: var(--body-sm);
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;

    .item {
      background-color: var(--gray-10);
      color: var(--gray-80);
      padding: 12px;
      width: calc((100% / 3) - (16px));

      @include mixins.md {
        width: auto;
      }
    }

    dt,
    dd {
      display: inline;
    }
  }

  dt {
    font-weight: 700;

    &::after {
      content: ": ";
    }
  }

  dd {
    margin: 0;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
  padding: 16px;
}

.backdropFade {
  &::backdrop {
    animation: fade-bd 400ms ease-in both reverse;
  }
}
