@use '../../../styles/scss/mixins';

.content {
  position: relative;
  top: -100px;
  z-index: 1;
  padding: 56px 72px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--blue);
  color: var(--gray-10);

  & > div:nth-child(1) {
    p {
      font: var(--title-md);
      font-weight: 500;
      margin-bottom: 4px;

      @include mixins.sm {
        margin-bottom: 24px;
      }
    }

    h1 {
      font: var(--title-lg);
      color: var(--white);
    }
  }

  & > div:nth-child(2) {
    flex-basis: 275px;
    
    p {
      font: var(--body-lg);
      font-weight: 700;
      margin-bottom: 4px;
    }
  }

  @include mixins.md {
    text-align: center;
    padding: 40px;
    gap: 24px;
  }
}