@use "../../../styles/scss/mixins";

.services {
  position: relative;
  top: -140px;
}

.card {
  background-color: var(--off-white);
  padding: 48px 40px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

  header {
    margin-bottom: 16px;

    & > div {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;

      h2 {
        font: var(--title-lg);
        color: var(--dark-blue);

        @include mixins.xxl {
          font: var(--title-md);
          font-weight: 500;
        }
        @include mixins.xl {
          font: var(--title-sm);
        }
        @include mixins.lg {
          font: var(--title-md);
          font-weight: 500;
        }
      }
    }

    p {
      color: var(--dark-blue);
    }
  }

  & > p {
    font: var(--body-sm);
    margin-bottom: 16px;
    color: var(--blue);
  }

  a {
    --link-fill-color: var(--pink);

    &:hover {
      --link-fill-color: var(--pink);
    }
  }
}