@use '../../../../styles/scss/mixins';

.section {
  background-color: var(--dark-blue);
  padding: 36px 0;
  display: flex;
  align-items: center;

  @include mixins.md {
    padding: 16px 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    small {
      color: var(--gray-20);
    }

    @include mixins.sm {
      gap: 24px;

      small {
        text-align: center;
      }
    }
  }

  .icons {
    display: flex;
    gap: 16px;

    a {
      padding: 8px;
      background-color: var(--pink);

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}