.section {
  background-color: var(--dark-blue);
  padding: 36px 0;
  display: flex;
  align-items: center;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    small {
      color: var(--gray-20);
    }
  }

  .icons {
    display: flex;
    gap: 16px;

    a {
      padding: 8px;
      background-color: var(--pink);

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}