.hero {
  --v-grad: linear-gradient(180deg, rgba(25, 62, 114, 0.25) 0%, rgba(25, 62, 114, 0) 28.65%);
  --h-grad: linear-gradient(90deg, #193E72 -11.28%, #193E72 -11.27%, rgba(25, 62, 114, 0) 69.86%);
  
  height: 720px;
  padding-top: 116px;
  position: relative;

  background-image: var(--v-grad), var(--h-grad);

  &::after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    opacity: 0.85;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.bannerContent {
  text-align: center;
  margin-top: -140px;

  header {
    margin-bottom: 24px;
  }
}
