.section {
  background-color: var(--gray-50);
  padding: 36px 0;

  .content {
    display: flex;
    justify-content: space-between;
    
    small {
      color: var(--gray-20);
    }
  }

  .icons {
    display: flex;
    gap: 16px;

    svg {
      fill: var(--gray-70);
      border-radius: 4px;
    }
  }
}