.section {
  p {
    margin: 32px 0;
    max-width: 90%;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.logoRow {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
}

.partnerLogo {
  position: relative;
  height: 248px;
  background-color: var(--gray-10);
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 90px;
    height: auto;
  }
}
