.section {
  --v-grad: linear-gradient(180deg, rgba(25, 62, 114, 0.25) 0%, rgba(25, 62, 114, 0) 28.65%);
  --h-grad: linear-gradient(90deg, #193e72 -11.28%, #193e72 -11.27%, rgba(25, 62, 114, 0) 69.86%);

  height: 645px;
  padding-top: 116px;
  position: relative;

  background-image: var(--v-grad), var(--h-grad);
}

.bannerContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 24px;
    color: var(--white);
  }

  p {
    background-color: var(--pink);
    padding: .5rem 1rem;
    color: var(--gray-10);
    display: flex;
    border-radius: 4px;
    
    span {
      &:not(:last-child) {
        &::after {
          content: ", ";
        }
      }

      a {
        --link-fill-color: var(--white);
      }
    }
  }
}
