.footer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--gray-10);
    opacity: 0.5;
  }
}

.certSection {
  margin-top: -80px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
