.title {
  display: flex;
  flex-direction: column;

  p {
    background-color: #FFEEF1;
    color: var(--pink);
    font: var(--body-sm);
    padding: 10px 16px;
    border-radius: 2px;

    & + * {
      color: var(--blue);
    }
  }
}

.dark {
  p {
    background-color: var(--pink);
    color: var(--gray-10);

    & + * {
      color: var(--gray-10);
    }
  }
}

.light {
  p {
    background-color: var(--pink);
    color: var(--gray-10);

    & + * {
      color: var(--gray-80);
    }
  }
}
