.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-10);
  border-bottom: 1px solid var(--gray-10);

  h2 {
    font: var(--title-sm);
    line-height: 40px;
    padding: 20px 0;
  }

  menu {
    display: flex;
    gap: 24px;
    list-style: none;
  }
}
