@use '../../../styles/scss/mixins';

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-10);
  border-bottom: 1px solid var(--gray-10);

  @include mixins.sm {
    gap: 24px;
  }

  h2 {
    font: var(--title-sm);
    padding: 20px 0;
  }

  menu {
    display: flex;
    gap: 24px;
    list-style: none;

    @include mixins.sm {
      gap: 24px;
    }
  }
}
