@use "../../../styles/scss/mixins";

.section {
}

.card {
  background-color: var(--gray-10_25);
  padding: 48px 40px;
  height: 100%;

  header {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;

    h3 {
      font: var(--title-lg);
      color: var(--dark-blue);

      @include mixins.xxl {
        font: var(--title-md);
      }
    }
  }

  @include mixins.lg {
    padding: 32px 24px;
  }
}

.multiLine {
  display: inline-block;
  white-space: break-spaces;

  &:first-line {
    color: var(--pink);
    font: var(--body-lg);
  }
}