@use "../../../styles/scss/mixins";

.section {
}

.card {
  background-color: var(--gray-10);
  padding: 48px 40px;
  height: 100%;

  header {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;

    h3 {
      font: var(--title-lg);
      color: var(--gray-90);

      @include mixins.xxl {
        font: var(--title-md);
      }
    }
  }
}
