@use '../../../styles/scss/mixins';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;

  @include mixins.lg {
    gap: 24px;
  }

  &[data-first] {
    @media (min-width: 992px /* (lg) */) {
      flex-direction: row;

      .thumbnail {
        & > div {
          height: 345px;
        }
      }

      .body {
        padding: 0;
        max-width: 285px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}

.thumbnail {
  width: 100%;

  & > div {
    position: relative;
    width: 100%;
    height: 280px;

    &::after {
      content: "";
      display: block;
      background-image: linear-gradient(0deg, rgba(25, 62, 114, .5), transparent 75%);
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      opacity: 1;
      transition: all 0.3s ease-out;
    }

    &:hover::after {
      opacity: 0;
    }

    & > div {
      height: 100%;
    }

    img {
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
  z-index: 1;
}

.body {
  padding: 0 24px;
  padding-bottom: 16px;

  @include mixins.lg {
    padding: 0;
  }

  h3 {
    margin-bottom: 16px;
  }

  p {
    font: var(--body-sm);
    margin-bottom: 16px;
  }

  a {
    &:first-child {
      --link-fill-color: var(--blue);
      
      &:hover {
        --link-fill-color: var(--dark-blue);
      }
    }

    &:last-child {
      --link-fill-color: var(--pink);
    }
  }
}
