.btn {
  position: fixed !important;
  justify-content: center;
  bottom: 100px;
  right: 30px;
  height: 60px;
  width: 60px;
  z-index: 3;
  background-color: var(--support-02);
  box-shadow: var(--shadow-lg);

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    height: 24px;
    width: 24px;
  }
}
