.btn {
  position: fixed !important;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  height: 56px;
  width: 56px;
  z-index: 3;
  background-color: var(--support-02);
  box-shadow: var(--shadow-lg);
  border-radius: 4px;

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    height: 24px;
    width: 24px;
  }
}
