@use "../../../styles/scss/mixins";

.section {
  header {
    margin-bottom: 72px;
  }
}

.logo {
  width: 100%;
  aspect-ratio: 1;
  padding: 48px 40px;
  background-color: var(--white);
  border-radius: 4px;
  object-fit: contain;
  border: 1px solid var(--gray-10);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);

  @include mixins.md {
    height: 120px;
    padding: 16px 24px;
  }
}

.finalText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  h3 {
    margin-bottom: 24px;
    color: var(--gray-80);
  }

  p {
    margin-bottom: 16px;
  }

  a {
    --link-fill-color: var(--pink) !important;
  }

  @include mixins.md {
    margin-top: 40px;
  }
}
