@use "../../../styles/scss/mixins";

.bgWrapper {
  position: relative;
  padding: 120px 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
  }

  &::before {
    background-color: var(--off-white);
    left: 0;
  }

  &::after {
    background-color: var(--blue);
    right: 0;

    @include mixins.xl {
      background-color: var(--off-white);
    }
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  align-items: center;

  @include mixins.xxl {
    justify-content: space-between;
  }
  @include mixins.xl {
    justify-content: center;
  }
  @include mixins.lg {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.textContent {
  max-width: 425px;

  & > p {
    margin: 32px 0;
  }

  strong {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    font-weight: 500;
    text-align: left;
  }

  @include mixins.xl {
    text-align: center;

    header {
      align-items: center;
    }
  }
}

.advantages {
  counter-reset: heading;
  max-width: 185px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  h3 {
    font: var(--body-lg);
    color: var(--white);
    margin-bottom: 8px;

    &::before {
      content: "#0" counter(heading) " | ";
      counter-increment: heading;
    }
  }

  p {
    font: var(--body-sm);
    color: var(--gray-10);
  }

  @include mixins.xxl {
    flex-direction: row;
    max-width: 45%;
    gap: 24px;
    
    h3 {
      color: var(--gray-80);
    }
    p {
      color: var(--gray-70);
    }
  }

  @include mixins.xl {
    flex-direction: column;
    max-width: 256px;
  }

  @include mixins.lg {
    flex-direction: row;
    max-width: none;
    gap: 16px;
    text-align: center;
    justify-content: center;
  }
}
