@use '../../../styles/scss/mixins';

.section {
  position: relative;
  padding: 120px 0;
  background-color: var(--blue);

  @include mixins.lg {
    padding: 80px 0;
  }
}

.content {
  position: relative;
  text-align: center;
  z-index: 1;

  header {
    margin-bottom: 32px;
  }

  & > p {
    color: var(--gray-20);
  }
}
