.section {
  background-color: var(--blue);
  padding-bottom: 56px;
  padding-top: 200px;
  position: relative;

  img {
    margin-bottom: 24px;
    max-width: 260px;
    height: auto;
  }

  .textContent {
    p {
      color: var(--gray-10);
      max-width: 89%;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;

    h2 {
      color: var(--white);
      font: var(--title-sm);
    }

    ul {
      list-style: inside;
      margin-top: 16px;
      color: var(--gray-10);
    }
  }
}
