@use "../../../../styles/scss/mixins";

.section {
  background-color: var(--blue);
  padding-bottom: 56px;
  padding-top: 200px;
  position: relative;

  img {
    margin-bottom: 24px;
    max-width: 260px;
    height: auto;
  }

  .textContent {
    max-width: 89%;
    p {
      color: var(--gray-10);
    }
  }

  .links {
    display: flex;
    justify-content: space-between;

    h2 {
      color: var(--white);
      font: var(--title-sm);
    }

    ul {
      list-style: inside;
      margin-top: 16px;
      color: var(--gray-10);

      li {
        line-height: 2rem;
        transition: all 350ms;

        a::after {
          display: none;
        }

        &:hover {
          color: var(--pink);
          a {
            color: var(--pink);
          }
        }
      }
    }
  }

  @include mixins.xl {
    padding-top: calc(280px + 72px);
  }

  @include mixins.lg {
    padding-top: 56px;

    :global(.row) {
      gap: 32px;
    }

    .textContent {
      max-width: none;
    }
  }

  @include mixins.sm {
    .links {
      flex-wrap: wrap;
      justify-content: center;
      gap: 48px;
    }

    img {
      max-width: 100%;
    }
  }
}
