.btn {
  --label-color: inherit;

  cursor: pointer;
  font: var(--body-md);
  line-height: 1.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3rem;
  border: 1.5px solid;
  border-radius: 4px;
  gap: 12px;
  transition: all 350ms;
  text-decoration: none;

  background-color: var(--pink);
  border-color: transparent;
  color: var(--white);
  --label-color: var(--white);

  // variants
  &.secondary {
    background-color: transparent;
    border-color: var(--gray-90);
    color: var(--gray-90);
    --label-color: var(--gray-90);
  }

  &.icon {
    &::after {
      content: "";
      height: 0.75rem;
      width: 0.75rem;
      mask-image: url("/images/icons/arrow-right.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--label-color);
    }
  }

  // sizes
  &.small {
    padding: 12px 24px;
    font: var(--body-sm);
    border-radius: 3px;
    line-height: 14px;
  }

  &.large {
    padding: 20px 40px;
  }

  &:hover {
    filter: brightness(1.25);
  }
}
