$filled-buttons: (
  "light-blue": #3678d3,
  "blue": #193e72,
  "dark-blue": #0a2156,
  "light-pink": #e07ba2,
  "pink": #da3372,
  "dark-pink": #8a1944,
);

$outlined-buttons: (
  "light": #fff,
  "dark": #24365e,
);

.btn {
  --label-color: var(--white);

  cursor: pointer;
  font: var(--body-md);
  line-height: 1.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3rem;
  border: 1.5px solid;
  border-radius: 4px;
  gap: 12px;
  transition: all 350ms;
  text-decoration: none;

  background-color: var(--pink);
  border-color: transparent;
  color: var(--label-color);

  &.icon {
    &::after {
      content: "";
      height: 0.75rem;
      width: 0.75rem;
      mask-image: url("/images/icons/arrow-right.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--label-color);
    }
  }

  // sizes
  &.small {
    padding: 12px 24px;
    font: var(--body-sm);
    border-radius: 3px;
    line-height: 14px;
  }

  &.large {
    padding: 20px 40px;
  }

  &:hover {
    filter: brightness(1.25);
  }

  @each $color, $hex in $filled-buttons {
    &.#{$color} {
      background-color: $hex;
    }
  }

  @each $color, $hex in $outlined-buttons {
    &.#{$color} {
      background-color: transparent;
      color: $hex;
      border-color: $hex;
    }
  }
}
