$filled-buttons: (
  "blue": (
    "default": #193e72,
    "hover": #0a2156,
    "selected": #0a2156,
  ),
  "pink": (
    "default": #da3372,
    "hover": #8a1944,
    "selected": #8a1944,
  ),
);

$outlined-buttons: (
  "light": (
    "default": (
      "outline": #ffffff,
      "bg": transparent,
      "color": #ffffff,
    ),
    "hover": (
      "outline": #ffffff,
      "bg": #ffffff,
      "color": #0a2156,
    ),
    "selected": (
      "outline": #ffffff,
      "bg": #ffffff,
      "color": #0a2156,
    ),
  ),
  "dark": (
    "default": (
      "outline": #24365e,
      "bg": transparent,
      "color": #24365e,
    ),
    "hover": (
      "outline": #24365e,
      "bg": #24365e,
      "color": #ffffff,
    ),
    "selected": (
      "outline": #24365e,
      "bg": #24365e,
      "color": #ffffff,
    ),
  ),
);

.btn {
  cursor: pointer;
  font: var(--body-md);
  line-height: 1.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3rem;
  border: 1.5px solid;
  border-radius: 4px;
  gap: 12px;
  transition: all 350ms;
  text-decoration: none;

  // default: pink
  background-color: #{map-get($filled-buttons, "pink", "default")};
  color: var(--white);
  border-color: transparent;

  &:hover {
    background-color: #{map-get($filled-buttons, "pink", "hover")};
  }

  &:focus {
    background-color: #{map-get($filled-buttons, "pink", "selected")};
  }

  &.icon {
    &::after {
      content: "";
      height: 0.75rem;
      width: 0.75rem;
      mask-image: url("/images/icons/arrow-right.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: currentColor;
    }
  }

  // sizes
  &.small {
    padding: 12px 24px;
    font: var(--body-sm);
    border-radius: 3px;
    line-height: 14px;
  }

  &.large {
    padding: 20px 40px;
  }

  @each $color, $state in $filled-buttons {
    &.#{$color} {
      background-color: #{map-get($state, "default")};

      &:hover {
        background-color: #{map-get($state, "hover")};
      }

      &:focus {
        background-color: #{map-get($state, "selected")};
        box-shadow: #{map-get($state, "selected")}80 0px 0px 0px 0.25rem;
      }
    }
  }

  @each $color, $state in $outlined-buttons {
    &.#{$color} {
      background-color: #{map-get($state, "default", "bg")};
      border-color: #{map-get($state, "default", "outline")};
      color: #{map-get($state, "default", "color")};

      &:hover {
        background-color: #{map-get($state, "hover", "bg")};
        border-color: #{map-get($state, "hover", "outline")};
        color: #{map-get($state, "hover", "color")};
      }

      &:focus {
        background-color: #{map-get($state, "selected", "bg")};
        border-color: #{map-get($state, "selected", "outline")};
        color: #{map-get($state, "selected", "color")};
        box-shadow: #{map-get($state, "selected", "outline")}80 0px 0px 0px 0.25rem;
      }
    }
  }
}
