:root {
  /* Grayscale */
  --white: #ffffff;
  --gray-10: #e7e9ed;
  --gray-10_50: #e7e9ed40;
  --gray-20: #ced2db;
  --gray-30: #b6bcc9;
  --gray-40: #9ea5b8;
  --gray-50: #858fa6;
  --gray-60: #6d7994;
  --gray-70: #556282;
  --gray-70_50: #55628280;
  --gray-80: #3c4c70;
  --gray-90: #24365e;
  --gray-100: #0b1f4d;

  /* Brand Colors */
  --blue: #193e72;
  --dark-blue: #0a2156;
  --pink: #da3372;

  /* Support Colors */
  --support-01: #4070f4;
  --support-02: #0bb07b;
  --support-03: #ffad0d;
  --support-04: #f03d3d;
  --dark-pink: #8a1944;
  --light-pink: #e07ba2;
  --soft-pink: #ffeef1;
  --light-blue: #3678d3;
  --off-white: #f9fafb;
}

.bg-gray {
  background-color: var(--gray-10_50) !important;
}
