form {
  --field-gap: 20px;
  display: flex;
  gap: var(--field-gap);
  flex-wrap: wrap;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="search"], textarea, select {
  font: inherit;
  padding: 16px;
  font-weight: 400;
  border: 1px solid;

  color: inherit;
  background-color: var(--gray-10);
  border-color: var(--gray-20);

  &::placeholder {
    color: var(--gray-40);
  }
}

select {
  appearance: none;
  background-image: url("/images/icons/angle-down.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: calc(100% - 1rem) 50%;
}

input,
textarea,
select {
  border-radius: 4px;
}