@use "mixins";

:root {
  --heading: "Work Sans", sans-serif;
  --body: Poppins, sans-serif;

  /* Headings */
  --title-display: 500 3.5rem/4.5rem var(--heading);
  --title-xl: 500 2.75rem/3.5rem var(--heading);
  --title-lg: 500 2rem/2.5rem var(--heading);
  --title-md: 600 1.75rem/2rem var(--heading);
  --title-sm: 500 1.25rem/2rem var(--heading);
  --title-xs: 600 1rem/1.5rem var(--heading);

  /* Body Text */
  --body-lg: 500 1.125rem/1.75rem var(--body);
  --body-md: 500 1rem/1.5rem var(--body);
  --body-sm: 500 0.875rem/1.5rem var(--body);

  @include mixins.lg {
    font-size: 14px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  white-space: break-spaces;

  @include mixins.sm {
    white-space: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

h1 {
  font: var(--title-display);
}
h2 {
  font: var(--title-xl);
}
h3 {
  font: var(--title-lg);
}
h4 {
  font: var(--title-md);
}
h5 {
  font: var(--title-sm);
}
h6 {
  font: var(--title-xs);
}

small {
  font: var(--body-sm);
}

a:not(.btn) {
  --link-fill-color: var(--gray-10);

  color: var(--link-fill-color);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 350ms;
  text-decoration: none;

  &:not(.link-image) {
    &::after {
      content: "";
      background-color: var(--link-fill-color);
      display: inline-block;
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      transition: all 500ms;
      transform: scaleX(0);
    }

    svg {
      height: 0.75em;
      width: 0.75em;
    }
  }

  &::after {
    transform-origin: left;
  }

  &:hover {
    --link-fill-color: var(--white);
    &::after {
      transform: scaleX(1);
    }
  }
}
