@use '../../../styles/scss/mixins';

.section {
  position: relative;

  :global(.row) {
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;

    @include mixins.lg {
      flex-wrap: wrap;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  header {
    margin-bottom: 64px;
  }
}

.topImage,
.bottomImage {
  img {
    aspect-ratio: 16 / 10;
  }
}

.topImage {
  margin-bottom: 24px;
}
